---
import { GIT_COMMIT_HASH, REPO_URL } from "@/constants";

const shortHash = GIT_COMMIT_HASH.slice(0, 7);
---
<header class="top">
  <div class="bar">
    <a class="brand mono" href="/">~/</a>
    <nav class="txt">
      <a href="/posts">Posts</a>
      <a href="/now">Now</a>
    </nav>
    <a class="commit mono" href={`${REPO_URL}/commit/${GIT_COMMIT_HASH}`} title="Latest commit">{shortHash}</a>
  </div>
</header>
